.results__title {
  width: 52%;
  margin: 50px 40px 0 0;
}
.results__top {
  display: flex;
  align-items: flex-start;
}
.results__text {
  padding-top: 30px;
  font-size: 18px;
  line-height: 22px;
}
.results__img {
  margin-right: 40px;
}
.results__header {
  font-size: 27px;
  line-height: 32px;
}
.results__found {
  padding-top: 20px;
  font-size: 16px;
  line-height: 20px;
}
.results__more {
  margin-bottom: 100px;
  text-align: center;
}

@media (max-width: 1299px) {
  .results__img {
    max-width: 400px;
    margin-right: 0;
  }
  .results__text {
    padding-bottom: 30px;
  }
  .results__title {
    margin: 20px 40px 0 0;
  }
}

@media (max-width: 786px) {
  .results__top {
    display: block;
    margin-bottom: 50px;
  }
  .results__title {
    width: 100%;
    margin: 20px 40px 0 0;
  }
  .results__img {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .results__more {
    margin-bottom: 70px;
  }
}
