@media (max-width: 786px) {
  .container {
    padding: 0 20px;
    width: 100%;
  }
  h1,
  h2 {
    font-size: 28px;
    line-height: 33px;
  }
}

@media (max-width: 380px) {
  :root {
    line-height: 22px;
    font-size: 18px;
  }
}
