.search__title {
  width: 63%;
  padding-top: 50px;
  padding-right: 40px;
}
.search__top {
  display: flex;
  align-items: flex-start;
}
.search__formBlock {
  display: flex;
  align-items: flex-end;
  gap: 80px;
  max-width: 1320px;
  margin: 0 auto 50px auto;
  padding: 0 40px;
}
.search__icons {
  margin: 110px 0 0 0;
  display: flex;
  justify-content: space-between;
  width: 37%;
  padding-right: 50px;
}
.search__text {
  padding-top: 25px;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 1299px) {
  .search__formBlock {
    gap: 20px;
    flex-wrap: wrap;
  }
  .search__img-hero {
    padding-top: 10px;
    margin: 0 0 0 auto;
  }
  .search__img-sheet {
    padding-right: 20px;
  }
}

@media (max-width: 786px) {
  .search__icons {
    width: 20%;
    padding-right: 0;
  }
  .search__title {
    width: 80%;
    padding-top: 15px;
    padding-right: 0;
  }
  .search__formBlock {
    margin-bottom: 30px;
    padding: 0;
  }
  .search__img-folders {
    display: none;
  }
  .search__img-sheet {
    padding-right: 0;
    padding-top: 5px;
  }
  .search__img-hero {
    max-width: 330px;
  }
}


.results__title {
  width: 52%;
  margin: 50px 40px 0 0;
}
.results__top {
  display: flex;
  align-items: flex-start;
}
.results__text {
  padding-top: 30px;
  font-size: 18px;
  line-height: 22px;
}
.results__img {
  margin-right: 40px;
}
.results__header {
  font-size: 27px;
  line-height: 32px;
}
.results__found {
  padding-top: 20px;
  font-size: 16px;
  line-height: 20px;
}
.results__more {
  margin-bottom: 100px;
  text-align: center;
}

@media (max-width: 1299px) {
  .results__img {
    max-width: 400px;
    margin-right: 0;
  }
  .results__text {
    padding-bottom: 30px;
  }
  .results__title {
    margin: 20px 40px 0 0;
  }
}

@media (max-width: 786px) {
  .results__top {
    display: block;
    margin-bottom: 50px;
  }
  .results__title {
    width: 100%;
    margin: 20px 40px 0 0;
  }
  .results__img {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .results__more {
    margin-bottom: 70px;
  }
}


.search__form {
  width: 100%;
  padding: 50px 0 0 0;
  min-width: 710px;
  max-width: 767px;
}
.searchForm__block {
  flex-direction: column;
  box-shadow: 0px 0px 12px 0px #00000033;
  border-radius: 10px;
  padding: 0 32px 32px 32px;
}
.searchForm__top {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.searchForm__input {
  width: 100%;
  max-width: 242px;
}
.searchForm__top-right {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.searchForm__checkbox {
  padding-top: 10px;
}
.searchForm__bottom {
  justify-content: space-between;
}
.searchForm__btn {
  width: 270px;
  margin-top: auto;
}
.searchForm__submit {
  font-size: 22px;
  padding: 0.7em 1.2em;
}
.searchForm__submitLabel {
  padding-top: 10px;
  font-size: 14px;
  color: var(--grey);
}
.searchForm__range {
  padding-bottom: 45px;
}
@media (max-width: 786px) {
  .search__form {
    padding: 20px 0 0 0;
    min-width: unset;
  }
  .searchForm__top-right {
    display: none;
  }
  .searchForm__block {
    padding: 0 20px 40px 20px;
  }
  .searchForm__input {
    max-width: unset;
  }
  .searchForm__top {
    display: block;
  }
  .searchForm__bottom {
    flex-wrap: wrap;
  }
  .searchForm__btn {
    width: 100%;
  }
  .searchForm__range {
    padding-bottom: 20px;
  }
}
