.search__form {
  width: 100%;
  padding: 50px 0 0 0;
}
.searchForm__block {
  flex-direction: column;
  box-shadow: 0px 0px 12px 0px #00000033;
  border-radius: 10px;
  padding: 0 44px 50px 32px;
}

.searchForm__submit {
  max-width: 305px;
  font-size: 22px;
  padding: 0.7em 1.2em;
}

.searchForm__top {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.searchForm__input {
  width: 100%;
  max-width: 242px;
}
.searchForm__top-right {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.searchForm__checkbox {
  padding-top: 10px;
}
