.search__form {
  width: 100%;
  padding: 50px 0 0 0;
}
.searchForm__block {
  flex-direction: column;
  box-shadow: 0px 0px 12px 0px #00000033;
  border-radius: 10px;
  padding: 0 32px 32px 32px;
}

.searchForm__top {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.searchForm__input {
  width: 100%;
  max-width: 242px;
}
.searchForm__top-right {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.searchForm__checkbox {
  padding-top: 10px;
}
.searchForm__bottom  {
  justify-content: space-between;
}
.searchForm__btn {
  width: 270px;
  margin-top: auto;  
  }
.searchForm__submit {
  font-size: 22px;
  padding: 0.7em 1.2em;
}
.searchForm__submitLabel {
  padding-top:10px;
font-size: 14px;
color: var(--grey);
}
.searchForm__range {
  padding-bottom:45px;
}