.logo {
  flex-basis: 25%;
}
.logo__img {
  width: 124px;
  margin: auto 0;
}

.menu {
  gap: 49px;
  align-items: center;
}

.header {
  padding: 20px 0;
  min-height: 103px;
}

.user,
.auth {
  flex-basis: 35%;
  width: 300px;
}

.caIkhO {
  padding: 2.7rem 1.4rem !important;
}
.menu__mobLinks {
  flex-direction: column;
}
.gxPXqp {
  padding: 15px 2rem !important;
  font-size: 1rem !important;
}
.auth__reg-burger {
  margin: 50px auto 25px auto;
  color: #67bfbd;
}
.menu__mobLinks a:hover,
.auth__reg-burger:hover {
  color: var(--dop-bright);
}
.menu__mobLinks a {
  color: #ffffff;
  padding: 15px 0;
}
.auth__reg-btn {
  padding: 0.9em 1.2em !important;
}
.auth__reg-btn:hover {
  background-color: var(--dop-bright) !important;
}
@media (max-width: 786px) {
  .header {
    height: 123px;
    min-height: 123px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .auth {
    display: none !important;
  }
}
@media (max-width: 380px) {
  .logo__img {
    max-width: 100px;
  }
}
